<!doctype html>
<html lang="en">
  <head th:replace="/partial/head"></head>
  <body>
  <div th:replace="/partial/nav"></div>
  <!--  -->
  <div class="container">
  <div class="row">
  <div class="col-md-9">
<article th:each="c : ${libri}">
				<h2 th:text="${c.titolo}"></h2>
				<p>
				    <strong><em th:each="a: ${c.autori}">
						<span th:text="${a.nome}+ ' ' + ${a.cognome}"></span>
					</em></strong>, 
					<span th:text="${c.genere.nomegenere}"></span> 
				</p>
				<div class="flexx">
					<img th:src="@{/images/{image} (image=${#strings.isEmpty(c.copertina)}  ? 'default.png' : ${c.copertina})}" width="100">	
					<div th:text="${c.descrizione}"></div>
				</div>
				<p>Anno di publicazione <span th:text="${c.anno}"></span> - Giudizio <span th:class="'star star-'+${c.giudizio}"></span></p>
				<p>Prezzo <span th:text="${c.prezzo}"></span></p>
				
			</article>
			</div>
			<aside class="col-md-3">Aside</aside>
			</div>
			</div>
			<div th:replace="/partial/footer"></div>
			<div th:replace="/partial/script"></div>
    
  </body>
</html>