<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/partial/head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <form th:action="@{/login}" method="post" class="card col-md-6">
            <div class="card-body">
                <h6 class="card-title mb-4" th:if="${param.error}">Invalid username and password.</h6>
                <h6 class="card-title mb-4" th:if="${param.logout}">You have been successfully logged out.</h6>
                <h6 class="card-title mb-4" th:if="${param.success}">You have been successfully registered. Please use your credential to log in.</h6>
                <h5 class="card-title mb-4">Please log in</h5>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input name="username" type="email" id="username" class="form-control"/>
                    <label class="form-label" for="username">Email address</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input name="password" type="password" id="password" class="form-control"/>
                    <label class="form-label" for="password">Password</label>
                </div>
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rememberme" checked/>
                            <label class="form-check-label" for="rememberme"> Remember me </label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Simple link -->
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary form-control mb-4">Sign in</button>
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="/register">Register</a></p>
                    <p>or sign up with:</p>
                    <div th:replace="/partial/social"></div>
                </div>
            </div>
        </form>
        <div class="col-md-3"></div>
    </div>
</div>
<div th:replace="/partial/script"></div>
</body>
</html>