<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/partial/head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <form th:action="@{/register}" method="post" class="card col-md-6">
            <div class="card-body">
                <h5 class="card-title mb-4">Please register</h5>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input name="username" type="email" id="username" class="form-control"/>
                    <label class="form-label" for="username">Email address</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input name="password" type="password" id="password" class="form-control"/>
                    <label class="form-label" for="password">Password</label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary form-control mb-4">Sign on</button>
                <!-- Register buttons -->
            </div>
        </form>
        <div class="col-md-3"></div>
    </div>
</div>
<div th:replace="/partial/script"></div>
</body>
</html>
</body>
</html>